<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student</title>
    <link rel="stylesheet" href="./public/icons/css/all.css" />
    <link rel="stylesheet" href="./public/styles.css" />
  </head>
  <body>
    <%- include('../partials/navbar'); %> <%- include('../partials/student'); %>
    <%- include('../partials/instructor'); %> <%-
    include('../partials/subject'); %> <%- include('../partials/grade'); %> <%-
    include('../partials/table'); %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./public/main.js"></script>
  </body>
</html>
